VITE_API_URL_IDENTITY=http://localhost:8080/api/identity
VITE_API_URL_CORE=http://localhost:8080/api/core
VITE_API_URL_COMMON=http://localhost:8080/api/common

# Cloudflare R2 Config
VITE_R2_ACCOUNT_ID=
VITE_R2_ACCESS_KEY_ID=
VITE_R2_SECRET_ACCESS_KEY=
VITE_R2_BUCKET_NAME=
VITE_R2_PUBLIC_URL=